description = "lower highlighted message area for adverts"

[viewBag]
staticPageSnippetCode = "message-pane-bottom"
staticPageSnippetName = "Message Pane Bottom"
==
<div class="buy">
    <div class="container">
        <div class="row">
            <div class="col-sm-9">
                <h2>This is <span>The Best</span> way to save money and take back control of your information. Demo</h2>
                <h5>It’s Suitable for everyday people to 'flip' the way we do business.</h5>
            </div>
            <div class="col-sm-3 center">
                <a href="{{ url('register') }}" rel="nofollow" target="_blank" class="btn btn-default btn-default2">Register Now</a>
            </div>
        </div>
    </div>
</div><!-- end buy section-->