description = "Order Completed Confirmation"

[viewBag]
staticPageSnippetCode = "Order-Completed"
staticPageSnippetName = "Order Completed Confirmation Text"
==
<div class="header-breadcrumb mbottom50">
			<div class="container">
				<div class="row">
					<div class="col-sm-12">
						<h1 class="section-title fleft">Order Completed</h1>
						<ul class="reset-list">
							<li>
								<p>Shop</p>
							</li>
							<li>/</li>
							<li class="active">
								<p>Order Completed</p>
							</li>
						</ul>
					</div>
				</div>
			</div>
	</div><!-- end header-breadcrumb -->
	<div id="content">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 mbottom50 order">
					<h2 class="mbottom20">Thank You!</h2>
					<div class="separator mbottom30"></div>
					<p class="mbottom30">Your order has been recieved and it’s being processed. Your will recieve a confirmation email at <a href="#">you@where.com</a></p>
					<a href="#">Go back to Shop<span class="icon-angle-right mleft10"></span></a>
				</div>
			</div>
		</div>
	</div><!-- end content -->