<div id="sidebar">
    <ul id="menuitems">
        <h2>My Requests</h2>
        <li data-navigate="/"><a><img src="{{ 'assets/images/pixel.png'|theme }}" class="svg-house-black">Home</a></li>
        <li data-navigate="/library" class="librarymenuitem sidebar-has-tracks"><a><img src="{{ 'assets/images/pixel.png'|theme }}" class="svg-music-black">Archive</a></li>

        <h2>Requests</h2>

        <li data-navigate="/new-playlist"><a><img class="svg-plus-black" src="{{ 'assets/images/pixel.png'|theme }}">New Request</a></li>

        <div class="new-playlist-input">
            <input type="text" class="new-playlist-input-field">
        </div>
        <div class="playlists-menu">

        </div>

        <h2>Discover</h2>
        <li data-navigate="/charts" class="sidebar-has-tracks"><a><img src="{{ 'assets/images/pixel.png'|theme }}" class="svg-star-black">Top Offers</a></li>
        <li data-navigate="/charts" class="sidebar-has-tracks"><a><img src="{{ 'assets/images/pixel.png'|theme }}" class="svg-wheel-black">Local Offers</a></li>
        <li data-navigate="/genres" class="sidebar-has-tracks"><a><img src="{{ 'assets/images/pixel.png'|theme }}" class="svg-upvote-black">Categories</a></li>
        <li data-navigate="/time-machine/2014" class="sidebar-has-tracks"><a><img src="" class="svg-time-black">Timed Offers</a></li>
        <h2>Preferences</h2>
        <li data-navigate="/info"><a><img src="{{ 'assets/images/pixel.png'|theme }}" class="svg-info-black">About</a></li>
        <li data-navigate="/settings"><a><img src="{{ 'assets/images/pixel.png'|theme }}" class="svg-wheel-black">Settings</a></li>


    </ul>
</div>